# Census Dataset

In [17]:
import pandas as pd
# import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv(r"C:\Users\Rebecca\Downloads\Census Dataset India.csv")
data.tail(10)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
630,631,TAMIL NADU,Krishnagiri,1879809,960232,919577,1187958,877779,561634,316145,...,35956,468,121,373,276694,133744,137081,1034474,533183,311238
631,632,TAMIL NADU,Coimbatore,3458045,1729297,1728748,2635907,1567950,1083125,484825,...,190314,1112,435,3284,526165,273098,440520,1579517,1117221,757738
632,633,TAMIL NADU,Tiruppur,2479052,1246159,1232893,1760566,1266137,819783,446354,...,70015,455,198,371,298635,170870,179733,1177987,794639,504674
633,634,PONDICHERRY,Yanam,55626,27301,28325,39274,16760,14047,2713,...,873,3,1,4,8044,4101,3836,31973,15235,8402
634,635,PONDICHERRY,PONDICHERRY,950289,468258,482031,726649,348105,256652,91453,...,58328,245,366,1328,152482,81519,134067,473705,299746,176204
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

# Data Cleaning

In [6]:
#checking for missing values
data.isnull()#no missing data

#checking data types
data.dtypes

District_code            int64
State_name              object
District_name           object
Population               int64
Male                     int64
Female                   int64
Literate                 int64
Workers                  int64
Male_Workers             int64
Female_Workers           int64
Cultivator_Workers       int64
Agricultural_Workers     int64
Household_Workers        int64
Hindus                   int64
Muslims                  int64
Christians               int64
Sikhs                    int64
Buddhists                int64
Jains                    int64
Secondary_Education      int64
Higher_Education         int64
Graduate_Education       int64
Age_Group_0_29           int64
Age_Group_30_49          int64
Age_Group_50             int64
dtype: object

# 1. Which districts have the highest and lowest population?

In [16]:
#highest population distict #MAHARASHTRA         Thane
print(data[data.Population == data.Population.max()])

#lowest population district #ARUNACHAL PRADESH  Dibang Valley
print(data[data.Population == data.Population.min()])

     District_code   State_name District_name  Population     Male   Female  \
516            517  MAHARASHTRA         Thane    11060148  5865078  5195070

     Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
516   8227161  4492767       3363123         1129644  ...      280700  39149

     Buddhists   Jains  Secondary_Education  Higher_Education  \
516     449617  172052              1751284           1080597

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
516              961719         6184519          3241888       1579921

[1 rows x 25 columns]
     District_code         State_name  District_name  Population  Male  \
256            257  ARUNACHAL PRADESH  Dibang Valley        8004  4414

     Female  Literate  Workers  Male_Workers  Female_Workers  ...  Christians  \
256    3590      4436     3555          2228            1327  ...         223

     Sikhs  Buddhists  Jains  Secondary_Education  Higher_Education  \
256      7        126      2                  809               656

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
256                 356            5113             2088           786

[1 rows x 25 columns]

# 2. Which district had the highest number of males and females?

In [20]:
print(data[data.Male == data.Male.max()])
# MAHARASHTRA         Thane
print(data[data.Female == data.Female.max()])

     District_code   State_name District_name  Population     Male   Female  \
516            517  MAHARASHTRA         Thane    11060148  5865078  5195070

     Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
516   8227161  4492767       3363123         1129644  ...      280700  39149

     Buddhists   Jains  Secondary_Education  Higher_Education  \
516     449617  172052              1751284           1080597

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
516              961719         6184519          3241888       1579921

[1 rows x 25 columns]
     District_code   State_name District_name  Population     Male   Female  \
516            517  MAHARASHTRA         Thane    11060148  5865078  5195070

     Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
516   8227161  4492767       3363123         1129644  ...      280700  39149

     Buddhists   Jains  Secondary_Education  Higher_Education  \
516     449617  172052              1751284           1080597

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
516              961719         6184519          3241888       1579921

[1 rows x 25 columns]

# 3. Which district had the lowest number of males and females

In [24]:
print(data[data.Male == data.Male.min()])
      
#ARUNACHAL PRADESH  Dibang Valley
print(data[data.Female == data.Female.min()])

     District_code         State_name  District_name  Population  Male  \
256            257  ARUNACHAL PRADESH  Dibang Valley        8004  4414

     Female  Literate  Workers  Male_Workers  Female_Workers  ...  Christians  \
256    3590      4436     3555          2228            1327  ...         223

     Sikhs  Buddhists  Jains  Secondary_Education  Higher_Education  \
256      7        126      2                  809               656

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
256                 356            5113             2088           786

[1 rows x 25 columns]
     District_code         State_name  District_name  Population  Male  \
256            257  ARUNACHAL PRADESH  Dibang Valley        8004  4414

     Female  Literate  Workers  Male_Workers  Female_Workers  ...  Christians  \
256    3590      4436     3555          2228            1327  ...         223

     Sikhs  Buddhists  Jains  Secondary_Education  Higher_Education  \
256      7        126      2                  809               656

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
256                 356            5113             2088           786

[1 rows x 25 columns]

# 4. Which region had the most literate workers?

In [26]:
print(data[data.Literate == data.Literate.max()])

     District_code   State_name District_name  Population     Male   Female  \
516            517  MAHARASHTRA         Thane    11060148  5865078  5195070

     Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
516   8227161  4492767       3363123         1129644  ...      280700  39149

     Buddhists   Jains  Secondary_Education  Higher_Education  \
516     449617  172052              1751284           1080597

     Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
516              961719         6184519          3241888       1579921

[1 rows x 25 columns]

# 5. Which age group had the highest number of cultivators,agricultural                and household workers

In [35]:
#data.columns
print(data[data.groupby('Cultivator_Workers').agg({'Age_Group_0_29':['mean', 'min', 'max']})])

ValueError: cannot join with no overlapping index names

# 6. Which gender lived longest?

# 7. Which type of workers lived longest?